//<COLORS>========================================
$body-bg: #12022ceb;
$black: #000000;
$white: #ffffff;
$footer-color: #D9DBE1;
$header-menu: rgba(255, 255, 255, 0.6);
//</COLORS>========================================

//<SCREENS>========================================
$screen-s: 375px;
$screen-m: 640px;
$screen-l: 767px;
$screen-xl: 1080px;
$screen-xxl: 1600px;
//</SCREENS>========================================
