<div class="shop__swiper catalog__swiper swiper">
   <div class="shop__wrapper catalog__wrapper swiper-wrapper">
      <div class="swiper-slide">
			@@include("product-red.html",{})
      </div>
      <div class="swiper-slide">
			@@include("product-orange.html",{})
      </div>
      <div class="swiper-slide">
			@@include("product.html",{})
      </div>
   </div>
   <div class="shop__arrow arrow-btn">
      <div class="arrow-btn__box">
         <svg class='arrow-btn__svg catalog-prev swiper-button-prev'>
            <use xlink:href='@img/sprite.svg#swiper-arrow'></use>
         </svg>
      </div>
      <div class="arrow-btn__box">
         <svg class='arrow-btn__svg catalog-next swiper-button-next'>
            <use xlink:href='@img/sprite.svg#swiper-arrow'></use>
         </svg>
      </div>
   </div>
</div>

<div class="shop__swiper catalog__swiper swiper">
   <div class="shop__wrapper catalog__wrapper swiper-wrapper">
      <div class="swiper-slide">
			@@include("product-new.html",{})
      </div>
      <div class="swiper-slide">
         @@include("product-new.html",{})
      </div>
      <div class="swiper-slide">
         @@include("product-new.html",{})
      </div>
   </div>
   <div class="shop__arrow arrow-btn">
      <div class="arrow-btn__box">
         <svg class='arrow-btn__svg catalog-prev swiper-button-prev'>
            <use xlink:href='@img/sprite.svg#swiper-arrow'></use>
         </svg>
      </div>
      <div class="arrow-btn__box">
         <svg class='arrow-btn__svg catalog-next swiper-button-next'>
            <use xlink:href='@img/sprite.svg#swiper-arrow'></use>
         </svg>
      </div>
   </div>
</div>