<div class="wholesale__holder">
   <p class="wholesale__text">
      СОК "Орех Причерноморья" предлагает своим клиентам выгодные условия сорудничества.
   </p>
   <p class="wholesale__text">
      Мы готовы рассмотреть особые условия для оптовых покупателей, с готовностью идем на встречу к любому предложению.
   </p>
   <p class="wholesale__text">
      Особые условия подготовленны для розничных магазинов, компаний HoReCa, спорт-клубов.
   </p>
   <p class="wholesale__text">
      Если вы заинтересованы в нашей продукции, пишите или звоните в наш главный офис, мы всегда пойдем вам на встречу.
   </p>
</div>