<div class="gallery">
   <div class="gallery-first">
      <div class="gallery__box gallery-photo">
         <img class="gallery__images" src="@img/gallery/img-1.jpg" alt="Images">
         <div class="gallery__info">
            <span class="gallery__info-title">SIAL Paris 2018</span>
            <p class="gallery__info-text">
               В этом Году при поддержке проекта International Trade Centre Ukraine, и финансировании правительства Швеции, мы побывали на крупнейшей продовольственной выставке Европы <span>SIAL Paris 2018</span>
            </p>
         </div>
      </div>
      <div class="gallery__box gallery-photo">
         <img class="gallery__images" src="@img/gallery/img-2.jpg" alt="Images">
         <div class="gallery__info">
            <span class="gallery__info-title">SIAL Paris 2018</span>
            <p class="gallery__info-text">
               В этом Году при поддержке проекта International Trade Centre Ukraine, и финансировании правительства Швеции, мы побывали на крупнейшей продовольственной выставке Европы <span>SIAL Paris 2018</span>
            </p>
         </div>
      </div>
      <div class="gallery__box gallery-video">
         @@include("videoProject.html",{})
      </div>
   </div>
   
   <div class="gallery-second">
      <div class="gallery__box gallery-photo">
         <img class="gallery__images" src="@img/gallery/img-4.jpg" alt="Images">
         <div class="gallery__info">
            <span class="gallery__info-title">SIAL Paris 2018</span>
            <p class="gallery__info-text">
               В этом Году при поддержке проекта International Trade Centre Ukraine, и финансировании правительства Швеции, мы побывали на крупнейшей продовольственной выставке Европы <span>SIAL Paris 2018</span>
            </p>
         </div>
      </div>
      <div class="gallery__box gallery-photo">
         <img class="gallery__images" src="@img/gallery/img-5.jpg" alt="Images">
         <div class="gallery__info">
            <span class="gallery__info-title">SIAL Paris 2018</span>
            <p class="gallery__info-text">
               В этом Году при поддержке проекта International Trade Centre Ukraine, и финансировании правительства Швеции, мы побывали на крупнейшей продовольственной выставке Европы <span>SIAL Paris 2018</span>
            </p>
         </div>
      </div>
      <div class="gallery__box gallery-video">
         @@include("videoProject.html",{})
      </div>
   </div>
</div>


