<div class="news__content">
   <a class="news__content-date" href="#">12.04.2019</a>
   <a class="news__content-title" href="#">
      <h6>Центр поддержки экспорта, в студии Павел Тулба</h6>
   </a>
   <p class="news__content-text">
      Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди наших садоводов, не смотря на большой спрос в Европе и отличную...
   </p>
   <a class="news__content-btn" href="#">
      <span>Читать</span>
      <svg>
         <use xlink:href='@img/sprite.svg#news-arrow'></use>
      </svg>
   </a>
</div>