<div class="product">
   <div class="product__content">
      <div class="product__swiper swiper">
         <div class="product__wrapper swiper-wrapper">
            <div class="product__slide swiper-slide">
               <div class="product__zoom swiper-zoom-container">
                  <span></span>
                  <img class="product__image" src="@img/product/walnut-1.png"
                     alt="Walnut">
               </div>
            </div>
            <div class="product__slide swiper-slide">
               <div class="product__zoom swiper-zoom-container">
                  <span></span>
                  <img class="product__image" src="@img/product/walnut-1.png"
                     alt="Walnut">
               </div>
            </div>
            <div class="product__slide swiper-slide">
               <div class="product__zoom swiper-zoom-container">
                  <span></span>
                  <img class="product__image" src="@img/product/walnut-1.png"
                     alt="Walnut">
               </div>
            </div>
         </div>
         <svg class='product__arrow product-next swiper-button-next'>
            <use xlink:href='@img/sprite.svg#swiper-arrow'></use>
         </svg>
         <svg class='product__arrow product-prev swiper-button-prev'>
            <use xlink:href='@img/sprite.svg#swiper-arrow'></use>
         </svg>
      </div>
   </div>
   <div class="product__info">
      <div class="product__descr">
         <div class="product__holder">
            <a class="product__holder-name" href="#">Грецкий орех</a>
            <a class="product__holder-art" href="#">Арт: 0091</a>
            <p>Орех сладкий, классический, очищенный</p>
         </div>
         <div class="product__block">
            <div class="product__box">
               <svg class="balance">
                  <use xlink:href='@img/sprite.svg#balance'></use>
               </svg>
               <div class="product__box-wrap">
                  <p>Масса:</p>
                  <span>40г.</span>
               </div>
            </div>
            <div class="product__box">
               <svg class="package">
                  <use xlink:href='@img/sprite.svg#package'></use>
               </svg>
               <div class="product__box-wrap">
                  <p>Упаковка</p>
                  <span>вакуумная</span>
               </div>
            </div>
         </div>
      </div>
      <div class="product__purchase">
         <div class="product__price">
            <p>Цена:</p>
            <span class="product__price-new"><span>от</span> 21 <span>грн.</span></span>
         </div>
         <button class="product__btn">Купить</button>
      </div>
   </div>
</div>