<div class="video" data-src="https://www.youtube.com/embed/RAbzslym6o0?autoplay=1">
   <div class="container">
      <div class="video__body">
         <button class="video__button">
            <svg>
               <use xlink:href='@img/sprite.svg#video-btn'></use>
            </svg>
         </button>
         <h1 class="video-project__title">Проект UBHDP</h1>
         <h3 class="video-project__sub-title">
            Вчера к нам приезжал американский агроном Рон , спасибо Мельнику Евгению и проекту UBHDP за возможность получить консультацию от мировых специалистов!
         </h3>
      </div>
   </div>
</div>