<div class="video" data-src="https://www.youtube.com/embed/RAbzslym6o0?autoplay=1">
   <div class="container">
      <div class="video__body">
         <h1 class="video__title h1-title">Орех Причерноморья</h1>
         <h3 class="video__sub-title h3-title">
            Единственный в Украине сад совместного выращивание фундука и грецкого ореха
         </h3>
         <button class="video__button">
            <svg>
               <use xlink:href='@img/sprite.svg#video-btn'></use>
            </svg>
         </button>
      </div>
   </div>
</div>