.all-events {
   margin-top: 64px;
   @include screen-xl {
      margin-top: 183px;
   }

   & .news {
      padding: 0;
      background-color: transparent;
      max-width: 100%;
      @include adaptiveValue('margin-bottom', 26, 15);
      & .container {
         max-width: 100%;
         margin: 0;
         padding: 0;
      }
   }
   & .news__swiper {
      margin: 0;
   }
   & .news__block,
   & .news__button {
      display: none;
   }

   &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   &__title {
      @include adaptiveValue('margin-bottom', 17, 10);
      letter-spacing: 0.01em;
   }

   &__sub-title {
      @include adaptiveValue('margin-bottom', 62, 30);
      letter-spacing: 0.01em;
   }

   &__block {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 50px;
      @include adaptiveValue('margin-bottom', 60, 30);
      @include screen-xxl {
         align-items: center;
      }
      @include screen-xl {
         gap: 25px;
      }
      @include screen-l {
         flex-direction: column;
         align-items: center;
      }

      & .news__content {
         padding: 72px 0px 0px 0px;
         max-width: 391px;
         width: 100%;
         @include screen-xxl {
            padding: 0;
         }
         @include screen-l {
            max-width: 100%;
         }
      }
   }

   &__image {
      max-width: 849px;
      width: 100%;
      position: relative;
      padding-bottom: 40.7755%;
      @include screen-xl {
         padding-bottom: 31.25%;
      }
      @include screen-l {
         padding-bottom: 58%;
      }

      img {
         position: absolute;
         content: '';
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }
   }

   &__news-date {
      margin-bottom: 18px;
   }

   &__news-title {
      max-width: 320px;
      font-weight: 700;
      @include adaptiveValue('font-size', 22, 18);
      @include adaptiveValue('line-height', 26, 20);
      margin-bottom: 21px;
      letter-spacing: 0.01em;
   }

   &__text {
      font-weight: 500;
      @include adaptiveValue('font-size', 16, 14);
      @include adaptiveValue('line-height', 25, 18);
   }

   &__text + &__text {
      margin-top: 10px;
      margin-bottom: 20px;
   }

   &__video {
      width: 100%;
      @include adaptiveValue('margin-bottom', 70, 40);
      & .video {
         box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
         background-image: url('../img/gallery/img-3.jpg');
         padding-bottom: 43.1008%;
         min-height: 320px;
      }
      & .video__body {
         top: 60%;
         height: max-content;
         @include screen-xl {
            top: 50%;
         }
      }
   }

}