//<COLORS>========================================
$color-main: #333333;
$color-white: #ffffff;
$color-header-bg: #F8F9FA;
$color-light-bg: #E5E5E5;
$color-dark-grey: #666666;

//</COLORS>========================================

//<FONTS>========================================

// $fontFamily: ;
// $fontSize: ;

//</FONTS>========================================

//<SCREENS>========================================
$screen-s: 320px;
$screen-m: 630px;
$screen-l: 768px;
$screen-xl: 1361px;
// $screen-xxl: 1600px;
//</SCREENS>========================================
