//<COLORS>========================================
$text-black: #080808;
$text-white: #ffffff;
$text-gray: #828282;
$text-popup: #3A3E4B;
$border-btn: rgba(253, 253, 253, 0.32);
//</COLORS>========================================

//<FONTS>========================================

// $fontFamily: ;
// $fontSize: ;

//</FONTS>========================================

//<SCREENS>========================================
$screen-s: 377px;
$screen-m: 630px;
$screen-l: 768px;
$screen-xl: 1024px;
$screen-xxl: 1400px;
//</SCREENS>========================================
